@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", "sans-serif";
}

.search {
  border: none;
  outline: none;
}

.navbar-nav a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.carousel-inner img {
  height: 90vh;
  /* height: 100%; */
  object-fit: cover;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 1;
  /* 2.YONTEM */
  width: 100%;
  height: 100%;
  /*right: 0; 1.YONTEM
    left: 0;
    bottom: 0;
    top: 0; */
  opacity: 0.7;
}

.cards .card:hover .effect2 {
  color: #26968c;
  transition: ease 0.6s;
}

.cards .card:hover .effect1 {
  transform: translateY(-12px);
  transition: ease 0.6s;
}
.cards .card:hover {
  transform: translate(12px, -12px);
  transition: ease-out 0.2s;
}

.nav-item a:hover {
  transform: scale(1.1);
  transition: all 0.7s;
  font-weight: 600;
  color: #708ae8;
}

.fa-brands:hover {
  transform: scale(1.5);
  transition: all 0.7s;
  font-weight: 600;
  color: #708ae8;
}
.fw-light:hover {
  transform: scale(1.1);
  transition: all 0.7s;
  font-weight: 600;
  color: #708ae8;
}

.navbar-brand:hover {
  transform: scale(1.1);
  transition: all 0.7s;
  font-weight: 600;
  color: #708ae8;
}
.breadcrumb-item a {
  font-weight: 200;
  color: white;
}

.breadcrumb-item:nth-child(1):hover {
  transform: scale(1.1);
  transition: all 0.7s;
  font-weight: 600;
  color: #708ae8 !important;
}
.breadcrumb-item::before {
  color: white !important;
}

.title {
  /* background-color: #142d4c; */
  background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 7.3%,
    rgb(0, 40, 60) 51.6%,
    rgb(0, 143, 213) 93.4%
  );
  color: white;
}
.navbar {
  background: linear-gradient(135deg, white 0%, rgb(185, 224, 236) 100%);
}

.navbar .active {
  font-weight: 600;
  color: #708ae8;
}
.blog .card:hover {
  box-shadow: 2px 2px 9px rgba(128, 128, 128, 0.308);
  transition: ease 0.7s;
}

.blog .card-title {
  font-family: "Kumbh Sans" !important;
  font-weight: 700;
  font-size: 36px;
  color: rgba(14, 14, 70, 0.774);
}

.blog .card-text {
  font-family: "Kumbh Sans" !important;
  font-weight: 300;
  line-height: 30px;
}

.blog .card-calender {
  font-family: "Kumbh Sans" !important;
  font-size: 13px;
}
.blog .card-calender b {
  color: #708ae8;
}
.blog .card-calender i {
  color: rgb(202, 199, 199);
}

.right-slide:hover {
  border-top: 2px solid #708ae8a2 !important;
  transition: all 0.5s;
}

.ozeldur {
  display: flex;
}

.ozeldur span {
  display: block;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  margin: 20px;
}
.footer_top_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  border-radius: 10px;
  padding: 25px;
  height: 100%;
  position: relative;
}

.footer_top h3 {
  color: white;
  font-weight: 400;
  font-size: 25px;
}
.footer_top p {
  color: white;
  font-size: 14px;
  z-index: 1;
}



